{% extends "base.html" %}

{% block content %}
<div class="kop-surat">
    <div class="header">
        <img src="{{ logo_path | default('static/logo.png') }}" alt="Logo" class="logo">
        <div class="instansi">
            <div class="nama-instansi">PEMERINTAH KOTA BANDUNG</div>
            <div class="nama-instansi">DINAS PENDIDIKAN</div>
            <div class="alamat-instansi">Jalan Wastukencana No. 2, Bandung 40111</div>
        </div>
    </div>
</div>

<div class="surat-header">
    <div class="nomor">
        <table style="margin-left: auto; border-collapse: collapse;">
            <tr>
                <td style="padding: 5px;">Nomor</td>
                <td style="padding: 5px;">: {{ data.nomor }}</td>
            </tr>
            <tr>
                <td style="padding: 5px;">Tanggal</td>
                <td style="padding: 5px;">: {{ data.tanggal }}</td>
            </tr>
            <tr>
                <td style="padding: 5px;">Lampiran</td>
                <td style="padding: 5px;">: -</td>
            </tr>
        </table>
    </div>
</div>

<div class="perihal">
    <p style="text-align: center; font-weight: bold; text-decoration: underline; margin-bottom: 20px;">
        EDARAN<br>{{ data.perihal }}
    </p>
</div>

<div class="salam">
    <p>Assalamu'alaikum Warahmatullahi Wabarakatuh,</p>
    <p class="no-indent">Salam Sejahtera,</p>
</div>

<div class="surat-content">
    <p>Dengan ini diberitahukan bahwa {{ data.perihal }}.</p>
    <p class="no-indent" style="text-indent: 50px;">{{ data.isi }}</p>
    <p>Demikian edaran ini kami sampaikan untuk diketahui dan dipergunakan sebagaimana mestinya.</p>
</div>

<div class="tempat-tanggal">
    <p>Bandung, {{ data.tanggal }}</p>
</div>

<div class="penandatangan">
    <p>Kepala Dinas Pendidikan</p>
    <p class="nama">{{ data.penandatangan.nama }}</p>
    <p>{{ data.penandatangan.jabatan }}</p>
</div>
{% endblock %}
